.spacing-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.spacing-item {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  width: 180px;
  text-align: center;
}

.spacing-visual {
  margin-bottom: 0.5rem;
  border: var(--ga-size-border-width-sm) solid var(--ga-color-neutral-60);
  background-color: var(--ga-color-neutral-30);
  width: 50px;
  height: 25px;
}

.spacing-label,
.spacing-value {
  font-size: 0.875rem;
}

.spacing-00 {
  width: 0;
}

.spacing-01 {
  width: var(--ga-size-spacing-01);
}

.spacing-02 {
  width: var(--ga-size-spacing-02);
}

.spacing-03 {
  width: var(--ga-size-spacing-03);
}

.spacing-04 {
  width: var(--ga-size-spacing-04);
}

.spacing-05 {
  width: var(--ga-size-spacing-05);
}

.spacing-06 {
  width: var(--ga-size-spacing-06);
}

.spacing-07 {
  width: var(--ga-size-spacing-07);
}

.spacing-08 {
  width: var(--ga-size-spacing-08);
}

.spacing-09 {
  width: var(--ga-size-spacing-09);
}

.spacing-10 {
  width: var(--ga-size-spacing-10);
}

.spacing-11 {
  width: var(--ga-size-spacing-11);
}

.spacing-12 {
  width: var(--ga-size-spacing-12);
}

.spacing-13 {
  width: var(--ga-size-spacing-13);
}
