:root {
  --font-inter: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-inter--font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  --default-font-family: var(--font-inter);

  --text-xs: var(--ga-size-font-xs);
  --text-xs--line-height: calc(var(--spacing) * 4 * 1);
  --text-xs--letter-spacing: calc(var(--spacing) * 4 * 0.005);
  --text-sm: var(--ga-size-font-sm);
  --text-sm--line-height: calc(var(--spacing) * 4 * 1.25);
  --text-sm--letter-spacing: 0;
  --text-md: var(--ga-size-font-md);
  --text-md--line-height: calc(var(--spacing) * 4 * 1.25);
  --text-md--letter-spacing: calc(var(--spacing) * 4 * -0.006);
  --text-lg: var(--ga-size-font-lg);
  --text-lg--line-height: calc(var(--spacing) * 4 * 1.5);
  --text-lg--letter-spacing: calc(var(--spacing) * 4 * -0.011);
  --text-xl: var(--ga-size-font-xl);
  --text-xl--line-height: calc(var(--spacing) * 4 * 2);
  --text-xl--letter-spacing: calc(var(--spacing) * 4 * -0.017);
  --text-2xl: var(--ga-size-font-2xl);
  --text-2xl--line-height: calc(var(--spacing) * 4 * 2.25);
  --text-2xl--letter-spacing: calc(var(--spacing) * 4 * -0.019);
  --text-3xl: var(--ga-size-font-3xl);
  --text-3xl--line-height: calc(var(--spacing) * 4 * 3.5);
  --text-3xl--letter-spacing: calc(var(--spacing) * 4 * -0.022);

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --radius: var(--ga-radius);
  --radius-sharp: var(--ga-radius-sharp);

  --spacing: 0.25rem;
}
